#display-element {
    position: fixed;
    top: 25vh;
    left: 20vw;
    height: auto;
    width: 67vw;
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid rgb(43, 40, 40);
    background-color: rgba(43, 40, 40, 0.704);
    padding: 5px;
    h2 {
        padding-bottom: 6px;
    }
}



#img-container {
    background-color: rgb(43, 40, 40);
    height: 350px;
    width: 67vw;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(43, 40, 40);
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card {
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: calc(100% / var(--img-card-count));
    transition: all 0.3s;
}
.img-card:hover {
    border-radius: 0;
    height: 400px;
    width: 400px !important;
}

.img-card > img {
    max-height: 500px;
    min-height: 350px;
    object-fit: cover;
}


.hidden {
    display: none;
}









