#page {
    position: relative;
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-button {
    padding-right: 10px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

input {
    accent-color: rgb(67, 66, 66);
    cursor: pointer;
}

#display-element {
    height: auto;
    width: 80vw;
    display: flex;   
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(43, 40, 40);
    border-radius: 5px;
    // background-color: rgba(43, 40, 40, 0.704);
    padding: 5px;
    h2 {
        padding-bottom: 6px;
    }
}



#img-container {
    position: relative;
    padding: 5px;
    // background-color: rgb(43, 40, 40);
    height: 375px;
    width: 80vw;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(43, 40, 40);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideOut {
    from {
        margin-left: 0%;
        width: 100%;
    }

    to {
        margin-left: -100%;
        width: 300%;
    }
}

.img-card {
    z-index: 1;
    height: 375px;
    max-width: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: calc(100% / var(--img-card-count));
    flex-grow: 1;
    flex-shrink: 1;
    transition: height 0.5s ease-in-out, border-radius 0.5s ease-in-out, flex-grow 1s ease-in-out, flex-shrink 1s ease-in-out, width 0.5s ease-in-out;
    transition-delay: 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
    animation-duration: 3s;
    animation-name: slidein;  
    cursor: pointer;
}
.img-card:hover {
    border-radius: 0;
    height: 500px;
    width: 400px;
    max-width: 750px;
    transition-delay: 0s, 0s, 0s, 0s, 0s;
    // flex-grow: 1;
    // flex-shrink: 0;
}

.img-card:hover>img {
    min-height: 500px;
    min-width: 400px;
    transition: all 0.4s;
}

.img-card:hover > .img-info {
    position: absolute;
    top: 375px;
    right: 0;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    // width: 65vw;
    width: auto;
    min-width: 32vw;
    height: auto;
    border: 2px solid rgb(43, 40, 40);
    // border-top: none;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.img-card:hover>.img-info > p {
    margin-left: 5px;
    margin-bottom: 5px;
}

.img-card>img {
    max-height: 500px;
    min-height: 375px;
    min-width: 400px;
    object-fit: cover;
    transition: all 0.4s;
}

.img-info {
    font-size: 0px;
    width: 0px;
    height: 0px;
    transition: height 0.3s ease-in-out;
}

#clicked {
    z-index: 8;
    height: 500px;
    width: 800px;
    border-radius: 0;
    cursor: pointer;
}

#clicked >.img-info {
    position: absolute;
    top: 375px;
    right: 0;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    width: auto;
    min-width: 32vw;
    height: auto;
    border: 2px solid rgb(43, 40, 40);
    // border-top: none;
    background-color: white;
    border-radius: 0 0 5px 5px;
}
#clicked >.img-info>p {
    margin-left: 5px;
    margin-bottom: 5px;
}

#clicked>.img-info > label {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 4px;
    padding: 2px;
}

#clicked>.img-info>label > input {
    accent-color: rgb(67, 66, 66);
}

.bi {
  color: rgb(43, 40, 40);
}



.click-modal {
    opacity: 0;
    transition: opacity 0.3s;
}

.hidden {
    display: none;
}

#open {
    position: absolute;
    z-index: 5;
    height: 75vh;
    width: 92vw;
    background-color: none;
    opacity: 1;
}

.modal-button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}


.error-card {
    z-index: 1;
    height: 375px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / var(--img-card-count));
    animation-duration: 3s;
    animation-name: slidein;

    p {
        font-size: 22px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    div {
        height: 60px;
        width: 60px;
        font-size: 60px;
        cursor: pointer;
    }
}






