body {
    background-color: rgb(67, 66, 66);
    // background-color: black;
    font-family: 'Suranna';
    font-style: normal;
    color: rgb(208, 208, 208);
}

#top-bar {
    display: flex;
    width: auto;
    height: 150px;
    background-color: rgb(43, 40, 40);
    // border-bottom: 1px rgb(208, 208, 208) solid;
    // background-image: linear-gradient(to right, rgb(43, 40, 40), 70%, rgb(67, 66, 66));
  
}

#corner{
    height: inherit;
    width: 75px;
    // background-color: rgb(43, 40, 40);
}

#menu-border {
    width: 80%;
    height: inherit;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, rgb(77, 76, 76), 80%, rgb(67, 66, 66)) 1;
    display: flex;
    align-items: center;
    // justify-content: space-between;
        
}

#link-list {
    position: absolute;
    left: 54vw;
    width: 45vw;
    display: flex;
}

#link-list > li {
    padding-top: 5px;
    padding-left: 6px;
}




#left-bar {
    height: 60vh;
    width: 75px;
    // border-image: linear-gradient(rgb(208, 208, 208), 80%, #434242) 1 100%; old lighter border
    border-image: linear-gradient(rgb(77, 76, 76), 80%, #434242) 1 100%;
    border-right-width: 3px;
    border-right-style: solid;
    background-color: rgb(43, 40, 40);
    background-image: linear-gradient(rgb(43, 40, 40), 70%,  rgb(67, 66, 66));

}


/* div {
    background-color: black;
    height: 20px;
} */
