body {
    // background-color: rgb(67, 66, 66);
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    font-style: normal;
    color: rgb(67, 66, 66);

}

#top-bar {
    display: flex;
    width: auto;
    height: 120px;
    // background-color: rgba(43, 40, 40, 0.392);
    border-bottom: 3px solid rgba(67, 66, 66, 0.436);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#corner{
    height: inherit;
    width: 80px;
}


#link-list {
    width: 19vw;
    display: flex;
    flex-direction: column;
    text-align: end;


    li {
        color: rgb(67, 66, 66);
        padding-top: 7px;
        padding-right: 6px;
        padding-left: 6px;
        font-size: 14px;
    }
}

#link-list>li>a>img {
    padding-right: 5px;
    width: 20px;
    opacity: 70%;
}
#form-container {
    margin-top: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#query-form {
    // border: 3px solid rgb(67, 66, 66);
    // border-radius: 10px;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query-input {
    padding-left: 10px;
    border: 3px solid rgb(67, 66, 66);
    border-radius: 10px 0 0 10px;
    width: 300px;
    height: 30px;
    font-size: 15px;
    outline: none;
}

#query-submit {
    border: 3px solid rgb(67, 66, 66);
    border-left: none;
    border-radius: 0 10px 10px 0;
    height: 38px;
    width: 38px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    accent-color: rgb(67, 66, 66);
}

#selection-form > label{
    color: rgb(67, 66, 66);
}
#selection-form > input {
    margin-right: 5px;
}
#selection-form>select {
    margin-right: 15px;
}
