h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {

}

#menu-title {
    margin-left: 50px;
}

#menu-title {
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(67, 66, 66);
}


#above-display-text {
    height: 50px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80vw;
}

#query-title {
    font-weight: bold;
    text-transform: capitalize;
}

#below-display-text{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    font-style: italic;
    width: 80vw;
}